.back_btn{
    -fx-translate-x:20;
    -fx-translate-y: -4pt;
    -fx-font-size: 9pt;
}

.refresh_btn{
    -fx-font-size: 9pt;
    -fx-translate-y: -4pt;
    -fx-translate-x: 50pt;
}

.margin_top{
    -fx-border-color: transparent;
}

.choiceBox{
    -fx-translate-x: -20;
    -fx-font-size: 9pt;
    -fx-translate-y: -4;
}

.style1{
    -fx-font-size: 9pt;
    -fx-translate-x: -20;
    -fx-translate-y: 3;
    -fx-font-family: "Bodoni MT";
}

.style2{
    -fx-font-size: 26pt;
    -fx-translate-x: 10;
    -fx-translate-y: -1;
    -fx-font-family: "Bodoni MT";
    -fx-font-weight: 500;
}

.style3{
    -fx-background-image: url('../img/green.png');
    -fx-background-repeat: no-repeat;
}

.style5{
    -fx-background-image: url('../img/red.png');
    -fx-background-repeat: no-repeat;
}

.style6{
    -fx-font-family: "Bodoni MT";
    -fx-font-weight: 900;
    -fx-font-size: 18;
}

.style7{
    -fx-background-image: url('../img/green1.png');
    -fx-background-repeat: no-repeat;
}

.style8{
    -fx-background-image: url('../img/red1.png');
    -fx-background-repeat: no-repeat;
}